<h1>Contact</h1>
<div class="contact-details">
  <ul>
    <li>id: <%= @contact.id %></li>
    <li>First name: <%= @contact.first_name %></li>
    <li>Last name: <%= @contact.last_name %> </li>
    <li>E-mail: <%= @contact.email %></li>
  </ul>
</div>